body {
    font-family: Helvetica, sans-serif;
  }
  
  .react-autosuggest__container {
   
    /* position: relative; */
    margin-bottom: 200px;
    width:500px;
  }
  
  .react-autosuggest__input {
    width: 100%;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #aaa;
    /* background-image: url("../../icons/search2.svg");
    background-repeat: no-repeat;
    background-position-x: 100%; */
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
    height: 250px;
    overflow-y: auto;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    overflow-y: auto;
    top: 51px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }

  .suggestion_container
  {
    width:300px;
  }

  .suggestion_title{
    font-weight: bold; /* same as 700 */
  }
  
  .suggestion_description
  {
    font-size: 12px;
    color: #414141
  }
  
  .searchIcon {
    width:30px;
    height:30px;
    cursor: pointer;
  }

  .searchContainer{
    display: flex;
    justify-content: center;
  }

  
@media screen and (max-width: 600px) {
  .searchContainer {
    display: flex;
    justify-content: center;
  }
  .react-autosuggest__container {
   
    /* position: relative; */
    margin-bottom: 200px;
    width:270px;
  }
  
  
  .react-autosuggest__input {
    width: 100%;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #aaa;
    /* background-image: url("../../icons/search2.svg");
    background-repeat: no-repeat;
    background-position-x: 100%; */
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
    height: 100px;
    overflow-y: auto;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    overflow-y: auto;
    top: 51px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
}